*.log
~$*.SLDPRT
~$*.SLDASM
MK2.1/STRG_Steering-Module/STRG_Steering-Module_V6.1/STRG_Complete_Tie_rod _V6.SLDASM
MK2.1/STRG_Steering-Module/STRG_Steering-Module_V6.1/STRG_Complete_Tie_rod _V6.SLDASM
